/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0453C9;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #0453C9;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #0453C9;
    transform: scale(1.05);
}


/* ESTILO DO CABEÇALHO*/
.header{
    max-width: 40px 4%;
    align-items: center;
   
}

.header-menu{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding:34px ;
    margin: 0 auto;
    

}

.header-menu a{
    font-size: 1.125rem;
    line-height:1.3 ;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    display: block;
    
       
}

nav a{
    font-size: 1.8rem;
    color: #0453C9;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}

nav a:hover,
nav a:active{
    color: #0453C9 ;
    border-bottom: 3px solid #0453C9;
}



/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    max-width: 1420px;
    padding: 40px 4%;
    

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding-left: 110px;
    
    

    
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
    
    
    
    
}

.topo-do-site h1 span{
    color: #0453C9;
    
}


.topo-do-site .txt-topo-site p{
    color: white;
    margin: 30px 0px;
    font-size: 18px;
    
    
    
}


.btn-contato button:hover{
    box-shadow: 0px 0px 8px #1466e2;
    transform: scale(1.05);
    transition: 0.2s;
}


img{
    cursor: pointer;
}

.img-topo-site img {
    border-radius: 70%;
    border: 8px solid blue;
    width: 400px;
    height: 400px;
    
        
}


/* ESTILO DO SOBRE*/

section.sobre{
    padding: 40px 5%;
}

.img-sobre{
    max-width: 1420px;
    margin: 50px;
    width: 400px;
    height: 400px;
    padding-left: 50px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
    
   
}

.txt-sobre{
    color: #fff;
    padding: 110px;
    padding-left: 20px;
}

.txt-sobre h2{
    font-size: 40px;
    font-weight: 10%;
    line-height: 40px;
    margin-bottom: 30px;
}

.txt-sobre h2 span{
    color: #0453C9;
    display: block;
}

.txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;    
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #0453C9;
    font-size: 20px;
    cursor: pointer;
}

/*ESTILO DAS ESPECIALIDADES*/
section.especiliadades {
    padding: 40px 0%;
    text-align: center;
}

section.especiliadades .flex {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.especiliadades .especialidades-box {
    flex: 1;    
    color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin-top: 50px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #0453C9;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO PORTFÓLIO*/
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.096)
}

section.portfolio .flex{
    display: flex;
   justify-content: center;
   gap: 80px;
   margin-top: 60px;
   
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #0453C9;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.img-port:hover{
    background-position: 100% 100%;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5;
    
}

.overlay:hover{
    opacity: 1;
}